@charset "utf-8";
/* CSS Document */


.ProjectLink{
    color: black;
    text-decoration: none;
}

.NavStyle {
    background-color:#36194D;
    font-size: 17px;
    font: Montserrat, "Montserrat SemiBold";
}

.NavText {
    color: white ;
}

.NavCollapse {
    display: inline-block;
    background-color: white;
    padding: 2px;
    width:100%;
}

.PageStyle{
    background-color: #F3EBF9;
}

.PageTitle {
    font: Montserrat, "Montserrat Medium";
    font-size: 90px;
    padding: 10px;
}

.SubTitle {
    font: Montserrat, "Montserrat Medium";
    font-size: 45px;
    padding: 10px;
}

.NameSubTitle {
    font: Montserrat, "Montserrat Medium";
    font-size: 25px;
    padding: 10px;
}

.GenText {
    font-size: 18px;
    font: Montserrat, "Montserrat Regular";
    padding: 10px;
}

.Jumbo1 {
    background-color:#A065CD;
    color: white;
}

.Jumbo2 {
    background-color:#6c3299;
    color: white;
}

.FooterStyle {
    background-color: #21132C;
    color: white;
    font-size: 12px;
    font: Montserrat, "Montserrat Regular";
    padding: 10px;
}

